/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    min-height: 100vh;
    padding: 40px 20px;
}

/* JUDUL */
h1 {
    text-align: center;
    color: #0d47a1;
    margin-bottom: 30px;
}

/* CARD DOCUMENT */
.document {
    background: #ffffff;
    max-width: 600px;
    margin: 0 auto 25px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 102, 204, 0.2);
}

.document h3 {
    color: #1565c0;
    margin-bottom: 15px;
}

/* BUTTON */
.btn {
    display: inline-block;
    background-color: #1e88e5;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #1565c0;
}

/* LIST */
.list {
    background: #ffffff;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 102, 204, 0.2);
}

.list ul {
    list-style: none;
}

.list li {
    margin-bottom: 12px;
}

/* LINK LIST */
.list a {
    display: block;
    padding: 12px 15px;
    background-color: #e3f2fd;
    color: #0d47a1;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.list a:hover {
    background-color: #1e88e5;
    color: #ffffff;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .document,
    .list {
        padding: 20px;
    }
}
